[
    {global_config,
    [
        {test_name, "Test1"},
        {node_list, [runner1]},
        {protocol, mqtt},
        {mqtt, 
        [
            {broker, "192.168.1.212"},
            {port, 1883}
        ]},
        {client_interface_type, erlang},
        {client_interface_name, "default_interface"}
    ]},
    {runner1,
    [
        {devices, 
        [
            {occupancy_sensor, 1},
            {temperature_sensor, 2}
        ]}
    ]}
].