[
    {global_config,
    [
        {test_name, "Test1"},
        {node_list, [runner1]},
        {protocol, mqttv5},
        {mqttv5, 
        [
            {broker, "192.168.1.212"},
            {port, 1883}
        ]},
        {client_interface_type, erlang},
        {client_interface_name, "ps_bench_mqtt_erlang_interface"}
    ]},
    {runner1,
    [
        {devices, 
        [
            %{occupancy_sensor, 2},
            {temperature_sensor, 1}
        ]}
    ]}
].