[
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{config => #{file => "psbench.log"}}
      }]
    }]
  },

  {ps_bench,
    [{node_name, runner1},
    {device_definitions_directory, "configs/devices"},
    {deployment_definitions_directory, "configs/deployments"},
    {scenario_definitions_directory, "configs/scenarios"},
    {selected_scenario, test_scenario_distrib}
  ]}
].
