[
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{config => #{file => "psbench.log"}}
      }]
    }]
  },

  {ps_bench,
    [{node_name, runner1},
    {device_definitions_directory, "configs/test_configs/device_definitions"},
    {test_configuration_file, "configs/test_configs/test1.config"}
  ]}
].
