[
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{config => #{file => "psbench.log"}}
      }]
    }]
  },

  {ps_bench,
    [{test_name, "Test1"},
    {node_name, "Runner1"},
    {node_list, ["Runner1"]},
    {broker, "192.168.1.212"},
    {port, 1883},
    {protocol, mqtt},
    {client_interface_name, "default_interface"},
    {client_interface_type, erlang},
    {client_count, 1},
    {device_definitions_directory, "configs/test_configs/device_definitions"},
    {test_configuration_file, "configs/test_configs/test1.config"}
  ]}
].
